<center>
	<h2>Order details</h2>
	<div class="delete_pro_area" style="width: 60%">
		<table border="1px" style="font-size:20px; padding:10px;">
			<tr > 
				<td style="font-size:20px; padding:10px;">Customer Name</td>
				<td style="font-size:20px; padding:10px;">Customer Address</td>
				<td style="font-size:20px; padding:10px;">Total Amount</td>
				<td style="font-size:20px; padding:10px;">Shipping Date</td>
				<td style="font-size:20px; padding:10px;">Status</td>
				<td style="font-size:20px; padding:10px;"></td>
			</tr>

			<% if(pendingOrders!=null){%>
				<% for(var i = 0; i < pendingOrders.length; i++) {%>

					<tr > 
						<td style="font-size:20px; padding:10px;"><%= pendingOrders[i].name%></td>
						<td style="font-size:20px; padding:10px;"><%= pendingOrders[i].customer_address%></td>
						<td style="font-size:20px; padding:10px;"><%= pendingOrders[i].order_amount%> tk</td>
						<td style="font-size:20px; padding:10px;"><%= pendingOrders[i].shipping_date%></td>
						<td style="font-size:20px; padding:10px;"><%= pendingOrders[i].delivery_status%></td>
				
				<% if(pendingOrders[i].delivery_status=="pending"){%>		

						<td style="font-size:20px; padding:10px;"> <a style="color: #47d147;" href="/admin/deliveredOrder/<%= pendingOrders[i].id%>">Deliver Now</a></td>
				<%}else{%>

						<td style="font-size:20px; padding:10px;"></td>

					<%}%>
					</tr>

			<%}}%>
				

			
		</table>
	</div>
</center>
