<div class="delete_area_right"> 
	
		<div class="add_category_area" style="margin-left: 0px;width: 50%; float:left;">
				
			<div class="login_area">
				<h2 style="text-align:center; color:#FFF">Select Category</h2>
				<form method="POST">
					<center>
						<select class="gender_class" name="cat" id="cat" >
							<option class="option_class" value="">Select Category</option>
							<% for(var i = 0; i < categories.length; i++) {%>
					    		<option class="option_class" value="<%= categories[i].id %>">
					    			<%= categories[i].category_name %>
					    		</option>
							<%}%>
							
						</select></br>
						
						<input type="submit" name="selectCat" class="btn" id="selectCat" value="Select"/>
						
					
					</center>
				</form>
			</div>
		</div>
		<div class="delete_pro_area"> 
			<table border="1px" style="font-size:20px; padding:10px;">
				
				
				<tr > 
					<td style="font-size:20px; padding:10px;">Name</td>
					<td style="font-size:20px; padding:10px;">Price</td>
					<td style="font-size:20px; padding:10px;">Update</td>
				</tr>

				<% if(products!=null){%>
					<% for(var i = 0; i < products.length; i++) {%>
					<tr>
						<td style="font-size:20px; padding:10px;"><%= products[i].title %></td>
						<td style="font-size:20px; padding:10px;"><%= products[i].price %></td>
						<td style="font-size:20px; padding:10px;"><a style=" color: #fff;" href="/admin/updateProduct/<%= products[i].id %>">Select</a></td>
					</tr>
					<%}%>
				<%}%>
				
			</table>
		</div>
	
	</div>